<ion-view view-title="Profile">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <ion-content>
        <div class="list has-header">

          <a class="item item-icon-left" href="#">
            Tasca1
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
          </a>

          <a class="item item-icon-left item-icon-right" href="#">
            Tasca2
            <label class="toggle">
              <input type="checkbox">
              <div class="track">
                <div class="handle"></div>
              </div>
            </label>
            <i class="icon ion-ios-telephone-outline"></i>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-mic-a"></i>
            Tasca3
    <span class="item-note">
    </span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>
          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>

          <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Tasca4
            <span class="badge badge-assertive">0</span>
          </a>
        </div>
    </ion-content>
</ion-view>
